<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% for (var x in quotes) { %>
        <p>Name: <%= quotes[x].name %></p>
        <p>Quote: <%= quotes[x].quote %></p>
        <p>Quote: <%= quotes[x].createdAt %></p>
        <hr>
    <% } %>
</body>
</html>